<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
    <main>
        <% if(tasks.length > 0) { %>
            <% for(let task of tasks) { %>
            <ul class="list-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                    <label class="form-check-label" for="firstCheckbox">Task: <%= task.task_todo %></label>
                    <br>
                    <label class="form-check-label" for="firstCheckbox">Category: <%= task.category %></label>
                </li>
            </ul>
            <% } %> 
            <% } else { %>  
        <h1>Yay! No tasks to do for now!</h1>
        <% } %> 
    </main>
    <%- include('../includes/footer.ejs') %>