<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
    <br>
    <main>
        <a href="/add-task"><button type="button" class="btn btn-outline-info">Add Task</button></a>
        <br>
        <br>
        <h5>Tip: Click the category to see the specific tasks with the related category</h5>
        <br>
        <% if(tasks.length > 0) { %>
            <% for(let task of tasks) { %>
            <ul class="list-group">
                <li class="list-group-item">
                    <form action="/check-task" method="POST">
                        <% if(task.status) { %>
                        <label><%= task.task_todo %></label> 
                        <input type="hidden" name="taskId" value="<%= task.id %>">
                        <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i></button>
                        <% } else { %>
                        <label><%= task.task_todo %></label> 
                        <input type="hidden" name="taskId" value="<%= task.id %>">
                        <button type="submit" class="btn btn-sm btn-light"><i class="bi bi-check-lg"></i></button>
                            <% } %>  
                    </form>
                        <label><a href="/category/<%= task.category %>">Category: <%= task.category %></a></label>
                        <a href="/edit-task/<%= task.id %>?edit=true"><button type="button" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></button></a>
                        <form action="/delete-task" method="POST">
                            <input type="hidden" name="taskId" value="<%= task.id %>">
                            <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
                        </form>
                </li>
            </ul>
            <% } %>
            <br>
            <a target="_blank" href="https://www.flaticon.com/free-icons/to-do-list" title="to do list icons">To do list icons created by Flat Icons - Flaticon</a> 
            <% } else { %>  
        <h1>Yay! No tasks to do for now!</h1>
        <% } %> 
    </main>
    <%- include('../includes/footer.ejs') %>