<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
    <br>
    <main>
        <h1>Category: <%= docTitle %></h1>
        <% if(tasks.length > 0) { %>
            <% for(let task of tasks) { %>
            <ul class="list-group">
                <li class="list-group-item">
                    <% if(task.status) { %> 
                    <input class="form-check-input me-1" type="checkbox" id="<%= task.id %>" checked>
                    <% } else { %>
                        <input class="form-check-input me-1" type="checkbox" id="<%= task.id %>">
                        <% } %>  
                    <label class="form-check-label" for="<%= task.id %>">Task: <%= task.task_todo %></label

                    <form action="/delete-task" method="POST">
                        <input type="hidden" name="taskId" value="<%= task.id %>">
                        <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
                    </form>
                </li>
            </ul>
            <% } %> 
            <% } else { %>  
        <h1>Yay! No tasks to do for now!</h1>
        <% } %> 
    </main>
    <%- include('../includes/footer.ejs') %>